- title "MSP | Taskset 1"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li
            %a{:href => staff_dmpd_root_path} DMPD
            %span.divider /
          %li.active
            Taskset 1
        %span.arrow.hidden-phone
.white
  .container
    - flash.each do |key, value|
      %div{class: flash_class(key)}
        = value
    %h2.page-header
      Taskset 1
      - if @week6.confirmed_hr
        %div Confirmed by HR
      - if @week6.confirmed_coach
        %div Confirmed by Coach
    = semantic_form_for @week6, url: staff_dmpd_week6_path do |f|
      = f.inputs do
        .well
          %h4 Tasks
          = f.input :prayer_sheet, :label => "As a group pray through <strong>dMPD's Prayer Sheet</strong>".html_safe
          = f.input :listen_to_attitude_message, :label => "As a group listen to one of the <strong>Attitude Messages</strong> & continue to be more detailed with your notes".html_safe
          = f.input :memorize_prayer_sheet_passage, :label => "Memorize one of the passages from <strong>dMPD's Prayer Sheet</strong>".html_safe
          = f.input :review_how_to_get_contacts_faster_than_you_can_use_them, :label => "Review <a target=\"_blank\" href=\"https://docs.google.com/file/d/0B-dq1Hc0jvdBQzFSX3ViSHZKWUU/edit\">How to get contacts faster than you can use them</a>".html_safe
          = f.input :review_purpose_of_dmpd_training, :label => "Review <strong>Purpose of DMPD Training</strong>".html_safe
          = f.input :share_call_testimony, :label => "Share with your group your <strong>2 Minute Call Testimony</strong>".html_safe
          = f.input :share_salvation_testimony, :label => "Share with your group your <strong>2 Minute Salvation Testimony</strong>".html_safe
      = f.actions do
        = f.action :submit, :as => :button, :label => "Save"
      = f.inputs do
        .well
          %h4 Assignments
          = f.input :salvation_testimony, :label => "Write your <strong>Salvation Testimony</strong>".html_safe, input_html: {class:'summernote'}
          = f.input :call_testimony, :label => "Write your <strong>Calling Testimony</strong>".html_safe, input_html: {class:'summernote'}
          %blockquote
            Write two
            %strong Victory Stories
            where one is about someone receiving Christ and being transformed and the other on something interesting from your ministry location or discipleship chain.
          = f.input :victory_story_1, input_html: {class:'summernote'}
          = f.input :victory_story_2, input_html: {class:'summernote'}
          %blockquote Ask 3 disciples to write 5 sentences explaining how you and Tandem have impacted them.
          = f.input :discipleship_story_1, input_html: {class:'summernote'}
          = f.input :discipleship_story_2, input_html: {class:'summernote'}
          = f.input :discipleship_story_3, input_html: {class:'summernote'}
      = f.actions do
        = f.action :submit, :as => :button, :label => "Save"