<div class="right"><img alt="Bootcamp" src="<%= asset_path 'bootcamp_logo.png' %>"></div>
<h1>Pre-Bootcamp Activities</h1>
<nav>
  <a href="/staff/">MSP</a> &gt; <a href="/staff/bootcamp/">Bootcamp 2012</a> &gt; Contacts for Auckland
</nav>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<div class="weekbox">
  <div class="header">
    <h2>Contacts for Auckland</h2>
  </div>
  <div class="form">
    <% if !@contacts.empty?  %>
      <%= table_for @contacts do |t|
        t.data :first_name, :last_name, :phone, :actions => :destroy
      end %>
    <% end %>
    <%= semantic_form_for Contact.new do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :label => "Add Contact" %>
      <% end %>
    <% end %>
  </div>
</div>
