<div class="right"><img alt="Bootcamp" src="<%= asset_path 'bootcamp_logo.png' %>"></div>
<h1>Pre-Bootcamp Activities</h1>
<nav>
  <a href="/staff/">MSP</a> &gt; Bootcamp 2012
</nav>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<div class="weekbox">
  <div class="header">
    <h2><a href="/staff/bootcamp/contacts">Contacts for Auckland</a></h2>
  </div>
</div>
<div class="weekbox<% if @week6.completed? %> completed<% end %><% if @week6.error %> error<% end %>">
  <div class="header">
    <h2><a href="/staff/bootcamp/6">6 Weeks until Bootcamp</a><% if @week6.assignments_remaining! %><div><%= pluralize(@week6.assignments_remaining, 'assignment') %> remaining</div><% end %><% if @week6.tasks_remaining! %><div><%= pluralize(@week6.tasks_remaining, 'task') %> remaining</div><% end %></h2>
  </div>
</div>
<div class="weekbox<% if @week5.completed? %> completed<% end %><% if @week5.error %> error<% end %>">
  <div class="header">
    <h2><a href="/staff/bootcamp/5">5 Weeks until Bootcamp</a><% if @week5.assignments_remaining! %><div><%= pluralize(@week5.assignments_remaining, 'assignment') %> remaining</div><% end %><% if @week5.tasks_remaining! %><div><%= pluralize(@week5.tasks_remaining, 'task') %> remaining</div><% end %></h2>
  </div>
</div>
