<div class="right"><img alt="Bootcamp" src="<%= asset_path 'bootcamp_logo.png' %>"></div>
<h1>Pre-Bootcamp Activities</h1>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<div class="weekbox">
  <div class="header">
    <h2>6 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    <%= semantic_form_for @week6 do |f| %>
    <%= f.inputs do %>
      <h3>Tasks</h3>
      <%= f.input :prayer_sheet, :label => "As a group pray through <strong>dMPD's Prayer Sheet</strong>".html_safe %>
      <%= f.input :listen_to_attitude_message, :label => "As a group listen to one of the <strong>Attitude Messages</strong> & continue to be more detailed with your notes".html_safe %>
      <%= f.input :memorize_prayer_sheet_passage, :label => "Memorize one of the passages from <strong>dMPD's Prayer Sheet</strong>".html_safe %>
      <%= f.input :review_how_to_get_contacts_faster_than_you_can_use_them, :label => "Review <a target=\"_blank\" href=\"https://docs.google.com/file/d/0B-dq1Hc0jvdBQzFSX3ViSHZKWUU/edit\">How to get contacts faster than you can use them</a>".html_safe %>
      <%= f.input :review_purpose_of_dmpd_training, :label => "Review <strong>Purpose of DMPD Training</strong>".html_safe %>
      <%= f.input :share_call_testimony, :label => "Share with your group your <strong>2 Minute Call Testimony</strong>".html_safe %>
      <%= f.input :share_salvation_testimony, :label => "Share with your group your <strong>2 Minute Salvation Testimony</strong>".html_safe  %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :label => "Save" %>
    <% end %>

    <%= f.inputs do %>
      <h3>Assignments</h3>
      <div class="container">
      <%= f.input :salvation_testimony, :as => :ckeditor, :label => "Write your <strong>Salvation Testimony</strong>".html_safe  %>
      <%= f.input :call_testimony, :as => :ckeditor, :label => "Write your <strong>Calling Testimony</strong>".html_safe %>
      <p>Write two <strong>Victory Stories</strong> where one is about someone receiving Christ and being transformed and the other on something interesting from your ministry location or discipleship chain.</p>
      <%= f.input :victory_story_1, :as => :ckeditor %>
      <%= f.input :victory_story_2, :as => :ckeditor %>
      <p>Ask 3 disciples to write 5 sentences explaining how you and Tandem have impacted them.</p>
      <%= f.input :discipleship_story_1, :as => :ckeditor %>
      <%= f.input :discipleship_story_2, :as => :ckeditor %>
      <%= f.input :discipleship_story_3, :as => :ckeditor %>
      </div>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :label => "Save" %>
    <% end %>

  <% end %>
  </div>
</div>
<!--div class="weekbox">
  <div class="header">
    <h2>5 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    FORM
  </div>
</div>
<div class="weekbox">
  <div class="header">
    <h2>4 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    FORM
  </div>
</div>
<div class="weekbox">
  <div class="header">
    <h2>3 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    FORM
  </div>
</div>
<div class="weekbox">
  <div class="header">
    <h2>2 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    FORM
  </div>
</div>
<div class="weekbox">
  <div class="header">
    <h2>1 Weeks until Bootcamp</h2>
  </div>
  <div class="form">
    FORM
  </div>
</div-->
