.well{class: [("success" if week.completed?), ("danger" if week.error)].compact.join(" ")}
  %h4
    .pull-right.muted
      = fa_icon 'clock-o'
      &nbsp;
      = week.class.finish_date
    %a{href: send("edit_staff_dmpd_#{week.class.to_s.downcase}_path", week)}= "Taskset #{count}"
  - if week.tasks_remaining!
    %div
      = fa_icon 'tasks'
      = pluralize(week.tasks_remaining, 'task')
      remaining
  - if week.assignments_remaining!
    %div
      = fa_icon 'briefcase'
      = pluralize(week.assignments_remaining, 'assignment')
      remaining
