.page-header.dmpd
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title 'DMPD'
.dashboard.row
  .col-sm-4
    %a{href: dmpd_stats_root_path}
      .box.dmpd.clearfix{class: ("success" if current_user.contacts.count >= 30)}
        .border
        .title
          Reports
        .stat
          = fa_icon 'copy'
        .text Access your personal reports including appointment set record, contact ratios and summaries.
        .go
          Reports
          = fa_icon 'chevron-right'
  .col-sm-4
    %a{href: dmpd_contacts_path}
      .box.dmpd.clearfix{class: ("success" if current_user.contacts.count >= 30)}
        .border
        .title
          Contacts
        .stat
          = fa_icon 'user'
        .text Manage contacts in your primary DMPD location and reduce clashes between you and your staff team.
        .go
          Contacts
          = fa_icon 'chevron-right'
  .col-sm-4
    %a{href: dmpd_taskset_index_path}
      .box.dmpd.clearfix
        .border
        .title
          Tasksets
        .stat
          = fa_icon 'check-circle-o'
        .text Complete all your Pre-DMPD activities here. These will help you prepare for effective DMPD.
        .go
          Tasksets
          = fa_icon 'chevron-right'
.dashboard.row
  .col-sm-4
    %a{href: dmpd_stats_contact_card_box_index_path}
      .box.dmpd.clearfix
        .border
        .title
          Contact Card Box
        .stat
          = fa_icon 'users'
        .text See a summary view of your contacts and what phase of DMPD they are in.
        .go
          Contact Card Box
          = fa_icon 'chevron-right'
  .col-sm-4
    %a{href: dmpd_appointment_set_records_path}
      .box.dmpd.clearfix
        .border
        .title
          Appointment Set Record
        .stat
          = fa_icon 'suitcase'
        .text Add or Update an appointment and be notified about upcoming appointments.
        .go
          Appointment Set Record
          = fa_icon 'chevron-right'
  .col-sm-4
    %a{href: dmpd_stats_support_raising_development_index_path}
      .box.dmpd.clearfix
        .border
        .title
          Calling Chart
        .stat
          = fa_icon 'phone'
        .text Update your Weekly calling chart and see a historical view of calls made.
        .go
          Calling Chart
          = fa_icon 'chevron-right'

