- title "MSP | DMPD"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li.active
            DMPD
        %span.arrow.hidden-phone
.white
  .container
    - flash.each do |key, value|
      %div{class: flash_class(key)}
        = value
    %h1.page-header DMPD
    .well
      %h4
        %a{href: "/staff/dmpd/contacts"} Contacts for Auckland
    .well
      %h4
        %a{href: edit_staff_dmpd_week6_path(@week6)} Taskset 1
      - if @week6.assignments_remaining!
        %div
          %i.icon-briefcase &nbsp;
          = pluralize(@week6.assignments_remaining, 'assignment')
          remaining
      - if @week6.tasks_remaining!
        %div
          %i.icon-tasks &nbsp;
          = pluralize(@week6.tasks_remaining, 'task')
          remaining
    .well
      %h4
        %a{href: edit_staff_dmpd_week5_path(@week5)} Taskset 2
      - if @week5.assignments_remaining!
        %div
          %i.icon-briefcase &nbsp;
          = pluralize(@week5.assignments_remaining, 'assignment')
          remaining
      - if @week5.tasks_remaining!
        %div
          %i.icon-tasks &nbsp;
          = pluralize(@week5.tasks_remaining, 'task')
          remaining