.page-header.account
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title "My Accounts"
#accounts
  %table
    %thead
      %tr
        %th Code
        %th.hidden-sm.hidden-xs Name
        %th.text-right Balance
        %th.hidden-sm.hidden-xs.text-right Advances
        %th Updated
        %th Actions
        - if @accounts.count <= 15
          %th.hidden-sm.hidden-xs
    %tbody
      - @accounts.each do |account|
        %tr.expandable
          %td= account.code
          %td.hidden-sm.hidden-xs
            = account.name
            .badge.badge-primary.pull-right= account.currency.upcase
          %td.text-right= number_to_currency account.balance
          %td.hidden-sm.hidden-xs.text-right= number_to_currency account.advance_balance
          %td= account.last_updated_string
          %td.text-right
            %a{:href => account_path(account)} Summary
            \ 
            %a{:href => transactions_account_path(account)} History
            \
          %td.hidden-sm.hidden-xs.details
            %i.fa
        - if @accounts.count <= 15
          - @random = SecureRandom::uuid
          %tr
            %td{colspan: 100}
              .bd{id: @random}
          - content_for :javascript do
            %script{:type => 'text/javascript'}
              - if
                = "insert_graph(\"#{@random}\",#{account.months.keys.inspect.html_safe}, #{account.summary},\"Balance\", #{account.goal}, #{account.salary});".html_safe