.page-header.account
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title 'Accounts'
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'users'
        %h3 Check your Account Balances
        Manage multiple accounts? You can quickly see what the balances of all your accounts. For every account under your control you're can view a graph showing the changes to the balance over the last 12 months.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'search'
        %h3 Quick Overview of Your Account
        See a summary of where your income and expenses are coming from. Want more info about grouped transactions? Simply click on the number to see each individual transaction. Great eh?
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'cloud-download'
        %h3 Drill Down to Each Transaction
        Every action on your account is kept as history in the cloud. You can see every expense broken down by date, reason, provider and much more. Check it out by clicking on 'History' on the accounts list.
.row
  .col-md-12.text-center
    %h2
      All Ready?
      .text-muted
        %small Well, what are you waiting for?
    %a.btn.btn-primary.btn-lg{href: signup_accounts_path(activate: true)} Activate Accounts