<h1>Ministry Services Portal</h1>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
<%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<p>Please select an available service.</p>

<div id="login_links">
  <a href="/staff/bootcamp" class="loginlink"><img alt="Bootcamp" src="<%= asset_path 'bootcamp_logo.png' %>"></a>
  <% if current_user.admin == "admin" %>
  &nbsp;&nbsp;
  <a href="/admin" class="loginlink"><img alt="Bootcamp Admin" src="<%= asset_path 'bootcamp_admin_logo.png' %>"></a>
  <% end %>
  <% if current_user.admin == "coach" %>
  &nbsp;&nbsp;
  <a href="/coach" class="loginlink"><img alt="Bootcamp Coach" src="<%= asset_path 'bootcamp_admin_logo.png' %>"></a>
  <% end %>
  <% if current_user.admin == "hr" %>
  &nbsp;&nbsp;
  <a href="/hr" class="loginlink"><img alt="Bootcamp HR" src="<%= asset_path 'bootcamp_admin_logo.png' %>"></a>
  <% end %>
</div>
