.page-header
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  - title 'My Profile'
  %h1
    %span.avatar
      = gravatar_tag current_user.email, size: 50
    = current_user.name
= semantic_form_for current_user, builder: FormtasticBootstrap::FormBuilder do |f|
  .row
    .col-md-4
      .form-title My Profile
      = f.inputs do
        = f.input :first_name
        = f.input :last_name
        = f.input :email
      .form-title The Key Credentials
      = f.inputs do
        = f.input :password
      .text-right
        = image_tag 'key_logo.png'
    .col-md-8
      .form-title Staff Directory
      = f.inputs do
        .row
          .col-md-4
            = f.input :primary_phone
          .col-md-4
            = f.input :home_phone
          .col-md-4
            = f.input :office_phone
        = f.input :address, input_html: { class: 'gmaps-address' }
        #gmaps-canvas
        - content_for :javascript do
          :javascript
            $(function () {
              setTimeout(function() {
                window.completer = new GmapsCompleter({
                  inputField: '.gmaps-address',
                  debugOn: false
                });
                window.completer.autoCompleteInit({
                  country: "New Zealand"
                });
                completer.update = true;
                completer.geocodeLookup('address', "#{@user.address}", true);
              }, 500);
            });
  = f.actions do
    = f.action :submit, label: 'Update My Profile', button_html: { class: 'btn btn-primary' }