.page-header
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  - title 'My Profile'
  %h1
    %span.avatar
      = gravatar_tag @user.email, size: 50
    = @user.name
= semantic_form_for @user, url: '/user', builder: FormtasticBootstrap::FormBuilder do |f|
  .row
    .col-md-4
      .form-title My Profile
      = f.inputs do
        = f.input :first_name
        = f.input :last_name
        = f.input :email
        Your profile picture is fetched from
        %a{href: 'http://www.gravatar.com', target: '_blank'} Gravatar

      .form-title The Key Credentials
      = f.inputs do
        .row
          .col-md-2
            = image_tag 'key_logo.png', style: 'width: 100%'
          .col-md-10
            = f.input :password
    .col-md-8
      .form-title Staff Directory
      = f.inputs do
        = f.input :ministry_id, as: :select, collection: Ministry.all
        .row
          .col-md-4
            = f.input :primary_phone
          .col-md-4
            = f.input :home_phone
          .col-md-4
            = f.input :office_phone
        = f.input :address
  .row
    .col-md-6
      .form-title Event Registration Details
      = f.inputs do
        = f.input :dietary_requirements, input_html: { rows: 10 }
        = f.input :medical_requirements, input_html: { rows: 10 }
    .col-md-6
      .form-title Children
      #kids
        = f.semantic_fields_for :kids do |kid|
          = render 'kid_fields', f: kid
        .links
          = link_to_add_association "#{fa_icon 'plus'} Add Child".html_safe, f, :kids, class: 'btn btn-primary'
        %br

    .col-md-6
  = f.actions do
    = f.action :submit, label: 'Update My Profile', button_html: { class: 'btn btn-primary' }