.page-header
  - if params[:q].blank? || params[:q][:search_cont].blank?
    %a.back{href: root_path}
      = fa_icon 'chevron-left'
    = title 'Directory'
  - else
    %a.back{href: users_path}
      = fa_icon 'chevron-left'
    = title 'Search'
.row
  .col-md-12.clearfix
    .controller-actions
      = search_form_for @q do |f|
        .input-group.col-md-4.search
          %span.input-group-addon= fa_icon 'search'
          = f.search_field :search_cont, class: 'form-control', placeholder: 'Search'
    - if @users.empty? && !params[:q].blank?
      .row
        .empty-state.col-md-4.col-md-offset-4
          %p
            Couldn't find anything.
          %a.btn.btn-default{href: users_path}
            Back to Directory
    - else
      .contact_row.title
        .pull-left.priority Av.
        .pull-left.info= sort_link(@q, :first_name, 'Name', default_order: :asc)
        .pull-right.actions
      - @users.each do |user|
        .contact_row
          %a.avatar{href: user_path(user)}
            = gravatar_tag user.email, size: 40
          %a.info{href: user_path(user)}
            %h4
              = user.name
            %small.text-muted
              &nbsp;
              = "+#{user.primary_phone}"
              - unless user.address.blank?
                = fa_icon 'map-marker'
              - unless user.email.blank?
                = fa_icon 'envelope-o'
          .pull-right.actions
            .hidden-xs
              %a{href: user_path(user), data: {"no-turbolink" => true}}
                Show
            .visible-xs
              %a{href: user_path(user), data: {"no-turbolink" => true}}
                = fa_icon 'angle-right'
    .paginated.text-right.clearfix
      .page-entries= page_entries_info @users
      = paginate @users