.page-header
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title 'Directory'
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'user'
        %h3 Maintain Your Contact Details
        Want to let people know you moved? Update your profile making it simple for people to have access to your most recent details.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'search'
        %h3 Search for Someone
        Need to find someone in a hurry? You can quickly search for them using any criteria of the user profiles (addresses, numbers, names etc).
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'cloud-download'
        %h3 Download Every Contact
        Pull every contact from the directory and download it as a set of vCards. These vCards are compatible with iOS, Android, Windows &amp; Mac making it real easy to keep up to date.
.row
  .col-md-12.text-center
    %h2
      All Ready?
      .text-muted
        %small Well, what are you waiting for?
    %a.btn.btn-primary.btn-lg{href: signup_users_path(activate: true)} Activate Directory