- unless params[:action] == "edit"
	= f.input :week, collection: @available_weeks
= f.input :appointments_asked_for
= f.input :contacts_asked_for
= f.input :number_of_calls_made
= f.input :hours_calling
= f.actions do
	= f.action :submit, :as => :button, label: "Save", button_html: {:class => "btn btn-primary"}
	%a.btn{href: staff_dmpd_stats_support_raising_development_index_path} Cancel