.page-header
  = title 'My Statistics'
.row
  .col-md-4
    %h5
      %span.text-muted 1
      Select an Endpoint
    .list-group#gma_organizations
      - @gma_organizations.each do |gma_org|
        %a.list-group-item{href: gma_organization_gma_staff_reports_path(gma_org)}
          %h4.list-group-item-heading= gma_org.name
      - if @gma_organizations.blank?
        .panel.panel-default
          .panel-body
            .text-center
              %h1.text-muted
                = fa_icon "code-fork"
              %h3 Endpoints
        .text-center.alert.alert-danger
          %h5 No Endpoints
          Talk to your Director about setting up your statistics or
          %br
          = "try updating your Key Password on #{link_to "your profile", edit_user_path}".html_safe
  .col-md-4
    %h5
      %span.text-muted 2
      Select a Report
    .panel.panel-default#gma_staff_report_select
      .panel-body
        .text-center
          %h1.text-muted
            = fa_icon "file-o"
          %h3 Reports
    %iframe#gma_staff_reports{width: '100%', frameborder: 0}
  .col-md-4
    %h5
      %span.text-muted 3
      Update your Statistics
    .panel.panel-default#gma_measurement_select
      .panel-body
        .text-center
          %h1.text-muted
            = fa_icon "signal"
          %h3 Statistics
    %iframe#gma_measurements{width: '100%', frameborder: 0}