.page-header.statistics
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title 'Statistics'
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'coffee'
        %h3 Stats Made Easy
        Is submitting stats the friday drag? We understand. That's why we've removed all the clutter. Gone is the old complex system replaced by a clean and intuitive way to do stats. Hey, it might even be fun to do stats.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'history'
        %h3 See your Stats History
        Want to see how your answers have changed over time? No problem. All your statistics are kept. Everytime you are entering a new stat, we'll show you a comprehensive history of your last ten reports.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'trophy'
        %h3 Get Points
        Like free prizes? By submitting your Statistics online you can gain points in the Championship League and redeem your points at Staff Conference for real prizes. Finally a way to enjoy stats.
.row
  .col-md-12.text-center
    %h2
      All Ready?
      .text-muted
        %small Well, what are you waiting for?
    %a.btn.btn-primary.btn-lg{href: signup_gma_organizations_path} Activate Statistics