.page-header.dmpd
  %a.back{href: dmpd_taskset_index_path}
    = fa_icon 'chevron-left'
  = title "Taskset #{@taskset.name}"
.controller-actions
  .btn-group
    %button.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
      Change Taskset
      = fa_icon 'angle-down'
    %ul.dropdown-menu{:role => "menu"}
      - Taskset.order(:due_week).each do |taskset|
        - unless taskset == @taskset
          %li
            %a{href: edit_dmpd_taskset_path(taskset)}= "Taskset #{taskset.name}"
        - else
          %li.divider
= semantic_form_for @taskset, url: dmpd_taskset_path, builder: FormtasticBootstrap::FormBuilder, :html => { :multipart => true } do |f|
  - if @taskset.assignments.boolean.exists?
    .form-title Tasks
    = f.semantic_fields_for :assignments, @taskset.assignments.boolean.order(:id) do |assignment|
      = assignment.semantic_fields_for :user_assignments, assignment.object.user_assignments.where(user: current_user, taskset: @taskset).first_or_create do |user_assignment|
        = user_assignment.input :answer_boolean, label: assignment.object.name.strip, as: :boolean
    = f.actions do
      = f.submit class: 'btn btn-primary'
  - if @taskset.assignments.text.exists?
    .form-title Written Assignments
    = f.semantic_fields_for :assignments, @taskset.assignments.text.order(:id) do |assignment|
      = assignment.semantic_fields_for :user_assignments, assignment.object.user_assignments.where(user: current_user, taskset: @taskset).first_or_create do |user_assignment|
        = user_assignment.input :answer_text, label: assignment.object.name.strip, as: :text, input_html: {class:'summernote'}
    = f.actions do
      = f.submit class: 'btn btn-primary'
  - if @taskset.assignments.upload.exists?
    .form-title Upload Assignments
    = f.semantic_fields_for :assignments, @taskset.assignments.upload.order(:id) do |assignment|
      = assignment.semantic_fields_for :user_assignments, assignment.object.user_assignments.where(user: current_user, taskset: @taskset).first_or_create do |user_assignment|
        = user_assignment.input :answer_upload, label: assignment.object.name.strip
        - if user_assignment.object.answer_upload.exists?
          %small= link_to 'Your Uploaded File', user_assignment.object.answer_upload.url
    = f.actions do
      = f.submit class: 'btn btn-primary'
