.page-header
  = title "Appointment Set Record"
  .pull-right
    %a.btn.btn-primary{href: dmpd_stats_root_path}
      = fa_icon 'home'
      WCS
    %a.btn.btn-default{href: dmpd_stats_contact_card_box_index_path}
      = fa_icon 'user'
      Contact Card Box
    %a.btn.btn-default{href: dmpd_stats_support_raising_development_index_path}
      = fa_icon 'phone'
      Weekly Calling Chart
    %a.btn.btn-info{href: new_dmpd_stats_appointment_set_record_path}
      = fa_icon 'plus'
      Add Data

- unless @appointment_set_record.empty?
  = table_for @appointment_set_record, :html => {:class => "table table-striped"} do
    - column :name, :html => { :th => { :class => "gray" }, :td => { :class => "gray" }}
    - column :date_set
    - column :date_of_appointment, title: "Appt Date"
    - column :gift_date
    - column :gift_confirmed_date, title: "Confirmed"
    - column :pretty_amount, title: "Amount"
    - column :number_of_contacts_received, title: "# Contacts"
    - column :asked_for_contacts, title: "Asked for Contacts" do |asr|
      - if asr then "Yes" else "No" end
    - column :thank_you_posted, title: "TY Posted" do |asr|
      - if asr then "Yes" else "No" end
    - column :title => "Actions" do |asr|
      - link_to("Edit", edit_dmpd_stats_appointment_set_record_path(asr) )
- else
  .well.text-center
    %p No Statistics Entered.
    %a.btn.btn-primary{href: new_dmpd_stats_appointment_set_record_path}
      = fa_icon 'plus'
      Add Data
