.page-header.pac
  %a.back{href: reviews_path}
    = fa_icon 'chevron-left'
  = title "My People and Culture Review"
= semantic_form_for @response, url: reviews_path do |f|
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h5.panel-title Welcome
        .panel-body
          This review will help with your personal growth and development and will be used as a conversation tool with your team leader. It should take approximately 10 minutes. Please answer honestly.
        .panel-footer.text-right
          %a.btn.btn-primary.btn-sm.next
            Next
            = fa_icon 'chevron-right'
      - @questions.each_with_index do |question, index|
        .panel.panel-default
          .panel-heading
            .pull-right.text-muted
              = "#{index + 1} of #{Review::Question.count}"
            %h5.panel-title= question.text
          .panel-body.text-center
            = f.inputs class: 'question' do
              = f.semantic_fields_for 'answers_attributes[]', @response.answers.build(question: question) do |a|
                = a.inputs do
                  = a.input :question_id, as: :hidden
                  = a.input :value, input_html: { data: { slider: "true", "slider-range" => "1, 10", "slider-snap" => "true", "slider-step" => "1" } }, label: false
                  %span.muted{style:"vertical-align: top"} 5
          .panel-footer.text-right
            .btn-group
              %a.btn.btn-default.btn-sm.back
                = fa_icon 'chevron-left'
                Back
              %a.btn.btn-primary.btn-sm.next
                Next
                = fa_icon 'chevron-right'
      .panel.panel-default
        .panel-heading
          %h5.panel-title Thank You
        .panel-body.text-center
          %h1.cheers_icon
            = fa_stacked_icon "thumbs-up", base: "circle-thin"
          %h3 Thumbs Up!
          %h5
            Click submit below and you're all done.
        .panel-footer.text-right
          .btn-group
            %a.btn.btn-default.btn-sm.back
              = fa_icon 'chevron-left'
              Back
            = f.submit class: 'btn btn-primary btn-sm', value: 'Submit'
%script{ type: 'text/javascript' }
  $("[data-slider]").bind("slider:ready slider:changed", function (event, data) {
  $(this).parent().nextAll("span").html(data.value.toFixed(0) + " / 10");
  });
