.page-header.pac
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title 'People and Culture'
.row
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'coffee'
        %h3 Submit Reviews Quickly
        Like saving time on admin? Submit your reviews online quickly and easily. You'll save so much time you might even squeeze in an extra coffee break. If you forget we'll even send you a helpful reminder to get it done.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'history'
        %h3 See your Review History
        Want to see how your answers have changed over time? No problem. All your reviews are kept so you can see how particular aspects of your ministry are changing. We present this info on a graph to make it easy.
  .col-md-4
    .panel.panel-default
      .panel-body
        %h1.text-muted= fa_icon 'trophy'
        %h3 Get Points
        Like free prizes? By submitting your People and Culture Reviews online you can gain points in the Championship League and redeem your points at Staff Conference for real prizes.
.row
  .col-md-12.text-center
    %h2
      All Ready?
      .text-muted
        %small Well, what are you waiting for?
    %a.btn.btn-primary.btn-lg{href: signup_reviews_path(activate: true)} Activate People & Culture