- title "MSP | 5 Weeks to Bootcamp"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li
            %a{:href => staff_dmpd_root_path} DMPD
            %span.divider /
          %li.active
            5 Weeks to Bootcamp
        %span.arrow.hidden-phone
.white
  .container
    %h2
      5 Weeks to Bootcamp
      - if @week5.confirmed_hr
        %div Confirmed by HR
      - if @week5.confirmed_coach
        %div Confirmed by Coach
    = semantic_form_for @week5, url: staff_dmpd_week5_path do |f|
      = f.inputs do
        %h3 Tasks
        = f.input :prayer_sheet, :label => "As a group pray through <strong>dMPD's Prayer Sheet</strong>".html_safe
        = f.input :listen_to_attitude_message, :label => "As a group listen to one of the <strong>Attitude Messages</strong> & continue to be more detailed with your notes".html_safe
        = f.input :memorize_prayer_sheet_passage, :label => "Memorize one of the passages from <strong>dMPD's Prayer Sheet</strong>".html_safe
        = f.input :recite_passage_from_dmpd_prayer_sheet, :label => "Recite the passage you memorized from the <strong>DMPD Prayer Sheet</strong>".html_safe
        = f.input :review_non_negotiables_of_effective_mpd, :label => "Review <strong>Non Negotiables of Effective MPD</strong>".html_safe
        = f.input :share_call_testimony, :label => "Share with your group your <strong>2 Minute Call Testimony</strong>".html_safe
        = f.input :share_salvation_testimony, :label => "Share with your group your <strong>2 Minute Salvation Testimony</strong>".html_safe
      = f.actions do
        = f.action :submit, :as => :button, :label => "Save"
      = f.inputs do
        %h3 Assignments
        .container
          = f.input :missionary_profile, :label => "Write your <strong>Missionary Profile</strong>".html_safe, class:'summernote'
      = f.actions do
        = f.action :submit, :as => :button, :label => "Save"