.page-header
  = title "Contact Card Box"
  .pull-right
    = link_to "Delete CCB", dmpd_stats_contact_card_box_path(@contact_card_box), class: "btn btn-danger", method: :delete, :confirm => "Are you sure you want to delete this CCB Record?"
%h4.muted= @contact_card_box.week.name
= semantic_form_for @contact_card_box, url: dmpd_stats_contact_card_box_path(@contact_card_box), builder: FormtasticBootstrap::FormBuilder do |f|
  = render :partial => "form", :locals => { :f => f }
