.page-header
  %a.back{href: authenticated_root_path}
    = fa_icon 'chevron-left'
  = title "Leaderboard"
#accounts
  %table
    %thead
      %tr
        %th Position
        %th Name
        %th Latest Badge
        %th Points
    %tbody
      - @scores.each_with_index do |rank, index|
        %tr.expandable.record.closed
          - player = User.find(rank['user_id']).decorate
          %td= index + 1
          %td= player.name
          %td
            - if player.badges.last
              = player.badges.last.name.to_s.titleize
              = image_tag "achievement_#{player.badges.last.name}.png", style: "border-radius: 5px; margin-right: 5px", class: "pull-left", width: 25
          %td= rank['sum_points']
        /   %td
        /     = image_tag "badge_#{leader.xp_level.name}.gif", style: "border-radius: 5px", width: 20
        /     %span.muted= leader.xp_level.name.capitalize
        /   %td
        /     = image_tag "achievement_#{leader.achievements.first.name.tr(" ", "_")}.png", style: "border-radius: 5px; margin-right: 5px", class: "pull-left", width: 25
        /     %span.muted= leader.achievements.first.name.titleize
        /   %td= leader.XP
