.page-header.dmpd
  - if params[:q].blank? || params[:q][:search_cont].blank?
    %a.back{href: dmpd_root_path}
      = fa_icon 'chevron-left'
    = title 'Contacts'
  - else
    %a.back{href: dmpd_contacts_path}
      = fa_icon 'chevron-left'
    = title 'Search'
- if @contacts.empty? && params[:q].blank?
  .row
    .empty-state.col-md-4.col-md-offset-4
      %p
        You haven't added any contacts yet.
        %br/
        Try it now!
      %a.btn.btn-primary.btn-lg{href: new_dmpd_contact_path, data: {"no-turbolink" => true}}
        = fa_icon 'plus'
        New Contact
- else
  .row
    .col-md-12.clearfix
      .form-actions
        = search_form_for [:dmpd, @q] do |f|
          %a.pull-right.btn.btn-primary{href: new_dmpd_contact_path, data: {"no-turbolink" => true} } Add Contact
          .input-group.col-md-4.search
            %span.input-group-addon= fa_icon 'search'
            = f.search_field :search_cont, class: 'form-control', placeholder: 'Search'
      - if @contacts.empty? && !params[:q].blank?
        .row
          .empty-state.col-md-4.col-md-offset-4
            %p
              Couldn't find anything.
            %a.btn.btn-default{href: dmpd_contacts_path}
              Back to Contacts
      - else
        .contact_row.title
          .pull-left.priority= sort_link(@q, :priority_code, 'Pr.')
          .pull-left.info= sort_link(@q, :first_name, 'Contact', default_order: :asc)
          .pull-right.actions
        - @contacts.each do |contact|
          .contact_row
            %a.priority{href: dmpd_contact_path(contact), data: {"no-turbolink" => true}, class: "priority-#{contact.priority_code}"}
              = contact.initials
            %a.info{href: dmpd_contact_path(contact), data: {"no-turbolink" => true}}
              %h4
                = contact.first_name
                = contact.last_name
              %small.text-muted
                = "+#{contact.primary_phone}"
                - unless contact.address.blank?
                  = fa_icon 'map-marker'
                - unless contact.email.blank?
                  = fa_icon 'envelope-o'
            .pull-right.actions
              .hidden-xs
                %a{href: dmpd_contact_path(contact), data: {"no-turbolink" => true}}
                  Show
                \|
                %a{href: edit_dmpd_contact_path(contact), data: {"no-turbolink" => true}}
                  Edit
                \|
                = link_to 'Delete', dmpd_contact_path(contact), method: :delete
              .visible-xs
                %a{href: dmpd_contact_path(contact), data: {"no-turbolink" => true}}
                  = fa_icon 'angle-right'
      .paginated.text-right.clearfix
        .page-entries= page_entries_info @contacts
        = paginate @contacts