- flash.each do |key, value|
  - case key
    - when 'achievement'
      - value.each do |achievement_id|
        - achievement = Achievement.find(achievement_id)
        .alert.alert-block.alert-info.clearfix
          = image_tag "achievement_#{achievement.name.tr(" ", "_")}.png", style: "border-radius: 5px; margin-right: 10px", class: "pull-left", width: "50"
          %h4= "Achievement Added: #{achievement.name.titleize}"
          = achievement.description
          %span.muted= "+#{achievement.xp_value} XP"
    - else
      - unless value.blank?
        %div{class: "alert alert-#{flash_class key.to_sym}"}
          = value
