%nav.navbar-fixed-top
  .navbar-header
    %ul.breadcrumb
      = render_breadcrumbs :tag => :li, separator: ' '
  %ul.nav.navbar-nav.navbar-right.hidden-xs
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        %span.avatar
          = gravatar_tag current_user.email, size: 40
        = current_user.first_name
        %b.caret
      %ul.dropdown-menu
        %li{ class: ('active' if current_page? leaderboard_path) }
          %a{:href => leaderboard_path} Leaderboard
        %li{ class: ('active' if current_page? documents_path) }
          %a{:href => documents_path} Document Centre
        %li
          %a{:href => edit_user_path} My Profile
        %li.divider
        - if current_user.admin == "admin"
          %li
            %a{:href => "/resque", "data-no-turbolink" => true} Resque
          %li
            %a{:href => "/admin", "data-no-turbolink" => true} Admin
        - if current_user.trainees.count > 0
          %li
            %a{:href => "/coach", "data-no-turbolink" => true} DMPD Coaches
        - if current_user.admin == "hr"
          %li
            %a{:href => "/hr", "data-no-turbolink" => true} Admin
        %li
          %a.last{:href => "/auth/logout"} Sign Out
%nav.navbar.navbar-default.navbar-inverse.navbar-alternative{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#topbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"}
        = image_tag 'logo.png', class: 'logo', width: 30
        Staff Portal
    #topbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: ('active' if current_page? authenticated_root_path) }
          %a{:href => authenticated_root_path} Home
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = fa_icon 'money'
            Accounts
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            - current_user.accounts.limit(3).all.each do |account|
              %li{ class: ('active' if current_page? account_path(account.id)) }
                %a{:href => account_path(account.id)}
                  = account.name
            %li.divider
            %li
              %a{:href => accounts_path} List All Accounts
        %li{ class: ('active' if request.path.match(/dmpd/)) }
          %a{:href => dmpd_root_path}
            = fa_icon 'tasks'
            DMPD
        %li{ class: ('active' if current_page? reviews_path) }
          %a{:href => reviews_path}
            = fa_icon 'university'
            Reviews
        %li{ class: ('active' if current_page? gma_organizations_path) }
          %a{:href => gma_organizations_path}
            = fa_icon 'bar-chart-o'
            Statistics
        %li.dropdown.visible-xs
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = fa_icon 'user'
            = current_user.first_name
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li{ class: ('active' if current_page? leaderboard_path) }
              %a{:href => leaderboard_path}
                = fa_icon 'signal'
                Leaderboard
            %li
              %a{:href => edit_user_path} My Profile
            %li
              %a{:href => auth_logout_path} Sign Out