!!!
%html{lang: :en}
  %head
    %title
      = "#{content_for(:title)} ‹ MSP".html_safe
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:100,400,700", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    = stylesheet_link_tag "application", :media => "all"
    %script{:text => "text/javascript"}
      var controller = "#{params[:controller]}";
      var action = "#{params[:action]}";
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .sidebar
      .brand
        MSP
      %ul.nav.nav-pills.nav-stacked
        %li{ class: ('active' if current_page? authenticated_root_path) }
          %a{:href => authenticated_root_path}
            = fa_icon 'home'
            Home
        %li{ class: ('active' if current_page? accounts_path) }
          %a{:href => accounts_path}
            = fa_icon 'money'
            My Accounts
          %ul.nav.sub
            - current_user.accounts.limit(3).all.each do |account|
              %li{ class: ('active' if current_page? account_path(account.id)) }
                %a{:href => account_path(account.id)}
                  = account.name
        %li{ class: ('active' if current_page? edit_user_path) }
          %a{href: edit_user_path}
            = fa_icon 'user'
            My Profile
          %ul.nav.sub
            %li{ class: ('active' if request.path.match(/dmpd/)) }
              %a{:href => dmpd_root_path}
                = fa_icon 'tasks'
                DMPD
            %li{ class: ('active' if current_page? reviews_path) }
              %a{:href => reviews_path}
                = fa_icon 'university'
                People & Culture
            %li{ class: ('active' if current_page? gma_organizations_path) }
              %a{:href => gma_organizations_path}
                = fa_icon 'bar-chart-o'
                Statistics
            %li{ class: ('active' if current_page? leaderboard_path) }
              %a{:href => leaderboard_path}
                = fa_icon 'signal'
                Leaderboard
      .rank
        %h5= current_user.xp_level.name.capitalize
        = image_tag "badge_#{current_user.xp_level.name}.gif", style: "border-radius: 5px"
        %small.muted= "XP #{current_user.XP} / #{current_user.xp_level.xp_max}"
        %small= "(#{current_user.xp_level.xp_max - current_user.XP} Till #{current_user.xp_level.next.name.capitalize})"
        .progress.progress-striped
          .progress-bar.progress-bar-success{style: "width:#{( (current_user.XP.to_f - current_user.xp_level.xp_min.to_f) / (current_user.xp_level.xp_max.to_f - current_user.xp_level.xp_min.to_f) ) * 100}%"}
    %nav.navbar-fixed-top
      .navbar-header
        %ul.breadcrumb
          = render_breadcrumbs :tag => :li, separator: ' '
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %span.avatar
              = gravatar_tag current_user.email, size: 40
            = current_user.first_name
            %b.caret
          %ul.dropdown-menu
            - if current_user.admin == "admin"
              %li.hidden-phone
                %a{:href => "/resque"} Resque
              %li.hidden-phone
                %a{:href => "/admin"} Admin
            - if current_user.admin == "coach"
              %li.hidden-phone
                %a{:href => "/coach"} Admin
            - if current_user.admin == "hr"
              %li.hidden-phone
                %a{:href => "/hr"} Admin
            %li
              %a.last{:href => "/auth/logout"} Sign Out
    .stream.hidden-sm.hidden-xs
      .title Activity Stream
      - UserAchievement.order('created_at DESC').all.limit(10).each do |achievement|
        .item
          .row
            .col-xs-2
              = image_tag "achievement_#{achievement.achievement.name.tr(" ", "_")}.png", style: "border-radius: 5px; margin-right: 5px", width: 25
            .col-xs-10
              = "<strong>#{achievement.user.name}</strong> earned the acheivement <strong>#{achievement.achievement.name.titleize}</strong> for #{pluralize achievement.achievement.xp_value, 'points'}".html_safe
    .content{style: (yield :content_style) }
      = render 'flash'
      = yield
      %footer.hidden-print.text-center
        %h6.text-muted
          CCCI © Copyright
          = Time.now.strftime('%Y')
    / Start of Zopim Live Chat Script
    :javascript
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?2ASMSpq9rMgNMsQBxXMtJyQqN4tj8Pf2';z.t=+new Date;$.
      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    / End of Zopim Live Chat Script
    %script{:src => "//use.typekit.net/oed2qww.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}