!!!
%html{lang: :en}
  %head
    %title
      = "#{content_for(:title)} ‹ Staff Portal".html_safe
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:100,400,700", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{name: "apple-mobile-web-app-capable", content:"yes"}/
    %meta{name: "mobile-web-app-capable", content:"yes"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'sidebar'
    = render 'topbar'
    = render 'stream'
    .content{style: (yield :content_style) }
      = render 'flash'
      = yield
      %footer.hidden-print.text-center
        %h6.text-muted
          CCCI © Copyright
          = Time.now.strftime('%Y')
    %script{:text => "text/javascript"}
      var controller = "#{params[:controller]}";
      var action = "#{params[:action]}";
    / Start of Zopim Live Chat Script
    :javascript
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
      $.src='//v2.zopim.com/?2ASMSpq9rMgNMsQBxXMtJyQqN4tj8Pf2';z.t=+new Date;$.
      type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    / End of Zopim Live Chat Script
    %script{:src => "//use.typekit.net/oed2qww.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}