!!!
%html{lang: :en}
  %head
    %title
      = "Staff Portal › #{content_for(:title)}"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:100,400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "application", :media => "all"
    %script{:text => "text/javascript"}
      var controller = "#{params[:controller]}";
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'mobile'
  %body.signed_out
    = yield
    %script{:src => "//use.typekit.net/oed2qww.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}