- title "MSP | My Accounts"
%section.intro-box.margin-80.hidden-print
  .container
    .row
      .span12
        %h3.pull-right.hidden-phone= current_user.name
        %ul.breadcrumb
          %li
            %a{:href => root_path} Home
            %span.divider /
          %li.active
            My Accounts
        %span.arrow.hidden-phone
.white
  .container
    .pull-right.hidden-phone.hidden-print
      %br/
      = collection_select("summary", "currency", Currency.all, :code, :name, {:selected => current_user.currency_code})
    = #render 'table'
    %table#accounts
      %thead
        %tr
          %th Code
          %th.hidden-phone Name
          %th Balance
          %th.hidden-phone
            Advances
          %th
            Updated
            %span.hidden-phone On
          %th
          - if current_user.accounts.count <= 15
            %th.visible-desktop
      %tbody
        - current_user.accounts.order(:code).all.each do |p|
          %tr.record.account{:class => "#{ if current_user.accounts.count <= 15 then 'expandable' else 'closed' end} #{'closed' unless p.code[0] == '1' or p.code[0] == '9'}" }
            %td= p.code
            %td.hidden-phone= p.name
            %td.text-right= number_to_currency p.get_balance current_user
            %td.text-right.hidden-phone
              - unless @advances[p.id].nil?
                = number_to_currency(@advances[p.id].to_d * @currency_rate) if @advances[p.id].to_i > 0
            %td= p.last_updated
            %td.text-right
              %a{:href => "/staff/accounts/#{p.id}"} Summary
              \ 
              %a{:href => "/staff/accounts/#{p.id}/transactions"} Transactions
              \
            - if current_user.accounts.count <= 15
              %td.visible-desktop.details
          - if current_user.accounts.count <= 15
            - @random = SecureRandom::uuid
            %tr{:style => ('display:none' unless p.code[0] == '1' or p.code[0] == '9')}
              %td{:colspan => 100}
                .bd{:id => @random, :style => ( (p.code[0] == '1' or p.code[0] == '9') ? 'display:block' : 'display:none' )}
                  %script{:type => 'text/javascript'}
                    - if @salary.has_key?(p.id) and @goals.has_key?(p.id)
                      = "insert_graph(\"#{@random}\",#{@months.keys.inspect.html_safe}, #{@graphs[p.code].to_a.map{|v| v[1].to_i} },\"Balance\", #{(@goals[p.id].to_d * @currency_rate).to_i}, #{(@salary[p.id].to_d * @currency_rate).to_i});".html_safe
                    - elsif @goals.has_key?(p.id)
                      = "insert_graph(\"#{@random}\",#{@months.keys.inspect.html_safe}, #{@graphs[p.code].to_a.map{|v| v[1].to_i} },\"Balance\", #{(@goals[p.id].to_d * @currency_rate).to_i});".html_safe
                    - else
                      = "insert_graph(\"#{@random}\",#{@months.keys.inspect.html_safe}, #{@graphs[p.code].to_a.map{|v| v[1].to_i} },\"Balance\", 0);".html_safe
