<div class="right"><img alt="Accounts" src="<%= asset_path 'accounts_logo.png' %>"></div>
<h1>&nbsp;</h1>
<nav>
  <a href="/staff/">MSP</a> &gt; <a href="/staff/accounts/">Accounts</a> &gt; <a href="/staff/accounts/<%= params[:id] %>"><%= @account.code %></a> ( Transactions )<div class="right"><%= collection_select("summary", "currency", Currency.all, :code, :name, {:selected => current_user.currency_code}) %> <strong><%= @account.code %>, <%= @account.name %></strong></div>
</nav>
<% if flash[:warning] or flash[:notice] %>
<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
  <%= flash[:warning] || flash[:notice] %>
</div>
<% end %>
<table id="records" class="transactions">
  <thead><tr><th>Date</th><th>Transaction Type</th><th>Payee</th><th>Money in</th><th>Money out</th><th>Balance</th><th class-"details closed"></th></tr></thead>
  <tbody>
    <%
    @last = nil
    @transactions.each do |p|
      @last = p if @last.nil?
      unless @last.date == p.date
        %>
        <tr class="balance">
          <td><%= @last.date.strftime('%d %b %Y') %></td>
          <td>Balance at close of day</td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(@last.balance) %></td>
          <td class="details"></td>
        </tr>

        <%
        @last = p
        end %>
        <tr class="record expandable closed" id="record_<%= p.id %>">
          <td><%= p.date.strftime('%d %b %Y') %></td>
          <td><%= p.type.name %></td>
          <td><%= p.who %></td>
          <td><%= number_to_currency(p.amount) if p.type.is_income %></td>
          <td><%= number_to_currency(p.amount) unless p.type.is_income %></td>
          <td></td>
          <td class="details"></td>
        </tr>
        <tr class="details_row" >
          <td colspan="7" class="subdetails">
            <div class="bd">
              <dl>
                <dt>Transaction type:</dt>
                <dd><%= p.type.name.upcase %>&nbsp;</dd>
                <dt>Description:</dt>
                <dd><%= p.reason %>&nbsp;</dd>
                <dt>Reference:</dt>
                <dd><%= p.subtext%>&nbsp;</dd>
              </dl>
            </div>
          </tr>
          <% end %>
          <% if @last.nil? or @transactions.nil? %>
          <tr class="bottom">
            <td><%= Time.now.strftime('%d %b %Y') %></td>
            <td>Opening balance for these transactions</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$0.00</td>
            <td class="details"></td>
          </tr>
          <% else %>
          <tr class="balance">
            <td><%= @last.date.strftime('%d %b %Y') %></td>
            <td>Balance at close of day</td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= number_to_currency(@last.balance) %></td>
            <td class="details"></td>
          </tr>
          <tr class="bottom">
            <td><%= @transactions.last.date.strftime('%d %b %Y') %></td>
            <td>Opening balance for these transactions</td>
            <td></td>
            <td></td>
            <td></td>
            <% if @transactions.last.type.is_income %>
            <td><%= number_to_currency(@transactions.last.balance - @transactions.last.amount ) %></td>
            <% else %>
            <td><%= number_to_currency(@transactions.last.balance + @transactions.last.amount ) %></td>
            <% end %>
            <td class="details"></td>
          </tr>
          <% end %>
          <tr class="totals" >
            <td colspan="7">
              <table id="moneyinmoneyout">
                <tbody>
                  <tr>
                    <td>Total Money in</td>
                    <td><%= number_to_currency @money_in %>&nbsp;</td>
                    <tr>
                      <td>Total Money out</td>
                      <td><%= number_to_currency @money_out %>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>Difference</td>
                      <td><%= number_to_currency @money_in + @money_out %>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <%= paginate @transactions %>
